<div class="page-container login-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

      <!-- Content area -->
      <div class="content">

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <!-- Simple panel -->
            <div class="panel panel-flat">
              <div class="panel-heading">
                <h2 class="panel-title">Contactez-nous</h2>
              </div>

              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <p><strong>N'hésitez pas à nous contacter, nous serons toujours là pour vous répondre !</strong><p>
                    <h3>Support</h3>
                    <p>
                      Pour les demandes de support, écrivez nous à <a href="mailto:support@openhivemanager.org">support@openhivemanager.org</a> en détaillant un maximum votre problème avec, si nécessaire :
                      <ul>
                        <li>Des copies d'écran</li>
                        <li>Les étapes pour reproduire l'anomalie</li>
                        <li>L'url de la page</li>
                        <li>Le ou les messages d'erreurs</li>
                      </ul>
                    </p>
                    <h3>Autres demandes</h3>
                    <p>Pour tout autre demande, nous sommes joignables par mail, à l'adresse <a href="mailto:contact@openhivemanager.org">contact@openhivemanager.org</a>, ou via Twitter ou Facebook (ci-dessous ou depuis votre page personnelle).</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h4>Twitter</h4>
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/openhivemanager" data-widget-id="692345637002698754">Tweets de @openhivemanager</a>
                  </div>
                  <div class="col-md-6">
                    <h4>Facebook</h4>
                    <div class="fb-page" data-href="https://www.facebook.com/openhivemanager/" data-tabs="messages, timeline, events" data-width="500" data-hide-cta="true" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/openhivemanager/"><a href="https://www.facebook.com/openhivemanager/">Openhivemanager</a></blockquote></div></div>
                  </div>
                </div>
              </div>
            </div>
          <!-- /simple panel -->
          </div>
          <!-- Footer -->
          <div class="footer text-muted">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
          Ce <a href="http://www.openhivemanager.org" property="cc:attributionName" rel="cc:attributionURL">site</a> est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">licence Creative Commons Attribution - Pas d&#39;Utilisation Commerciale - Pas de Modification 4.0 International</a>.  
        </div>
      <!-- /footer -->
    </div>
  </div>
</div>
